*{
    margin: 0;
    padding: 0;
   
}
body{
     background-color: rgb(34, 34, 34);
}
nav{
    height: 50px;
    width: 100%;
    background-color: gray;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    font-weight: 800;
    font-family: "Segoe UI";
    margin-bottom: 150px;
}

nav span{
    height: 50px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 5px 10px;
    line-height: 50px;
    margin-left: 20px;
}

nav span a{
    color: black;
    text-decoration: none;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
}


table{
   margin: auto;
   margin-top: 25px;
   font-family: 'Segoe UI';
   font-size: 1.5rem;
   font: 800;
}

th{
    padding: 15px 35px;
    background-color: rgb(255, 164, 164);
}
td{
    height: 40px;
    line-height: 40px;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    text-align: center;
    font-weight: 800;
    font-family: "Segoe UI";
    background-color: rgb(224, 125, 224);
}
